[submodule "exts/glfw"]
	path = exts/glfw
	url = https://github.com/glfw/glfw.git
[submodule "exts/glm"]
	path = exts/glm
	url = https://github.com/g-truc/glm.git
[submodule "exts/llgl"]
	path = exts/llgl
	url = https://github.com/LukasBanana/LLGL.git
